.btn {
  position: relative;
  display: inline-block;
  font-weight: 300;
  line-height: 200px;
  color: pink;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  padding: 20px, 20px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow:inset;
}